{{ partial "header.html" . }}
    {{ partial "navigation.html" . }}

    <!-- Latest project -->
    {{ range first 1 (where .Data.Pages "Section" ( .Site.Params.home.projectsSection )) }}
    <div class="jumbotron jumbotron-fluid glitch-background-poster glitch-text-white" style="background-image:url('{{ .Site.BaseURL }}{{ .Param "featured" }}');">
      <div class="container">
        <h3 class="display-4 text-sm-center glitch-text-shadow">{{ .Title }}</h3>
        <p class="lead text-sm-center glitch-text-shadow">{{ .Description }}</p>
        <div class="text-sm-center">
          <a href="{{ .URL }}" class="btn btn-primary btn-large">Read more <span class="fa fa-angle-double-right"></span></a>
        </div>
        <p class="small muted lead glitch-space-before text-sm-right"><i class="fa fa-heart-o"></i> Featured project</p>
      </div>
    </div>
    {{ end }}

     <!-- Index content -->
    {{ range where .Data.Pages.ByWeight "Section" "" }}
    <div class="jumbotron jumbotron-fluid glitch-background-none">
      <div class="container text-sm-center">
        {{ .Content }}
      </div>
    </div>
    {{ end }}



    <div class="container">

      <!-- Latest 3 posts -->
      <div class="glitch-space-before">
        <h3 class="lead">Latest content</h3>
        <div class="card-columns">
          {{ range first 3 (where .Data.Pages "Section" ( .Site.Params.home.postsSection )) }}
          {{ partial "itemcard.html" . }}
          {{ end }}
        </div>

        <div class="text-xs-right">
          <a class="btn btn-link" href="{{ .Site.Params.home.postsSectionLink }}">More content <i class="fa fa-angle-double-right"></i></a>
        </div>
      </div>

    </div><!-- /.container -->
{{ partial "footer.html" . }}