<h3 class="glitch-share">
	<i class="fa fa-share-alt"></i>
	<a href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}"><i class="fa fa-twitter"></i></a>
	<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary={{ .Description }}&source={{ .Site.BaseURL }}"><i class="fa fa-linkedin"></i></a>
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fa fa-facebook"></i></a>
	<a href="https://plus.google.com/share?url={{ .URL }}"><i class="fa fa-google-plus"></i></a>
</h3>
