{{ partial "header.html" . }}
    {{ partial "navigation.html" . }}
	<!-- Title -->
	<div class="page-header glitch-header">
	  <div class="container">
      <p class="text-sm-right">
        <span class="fa fa-fw fa-calendar"></span>
        {{ .Date.Format "02 January 2006" }}
      </p>
      {{ range .Params.categories }}
      <a href="{{ "/categories/" }}{{ . | urlize }}"><span class="fa fa-fw fa-folder"></span> {{ . }}</a>
      {{ end }}

      {{ range .Params.tags }}
      <a href="{{ "/tags/" }}{{ . | urlize }}"><span class="fa fa-fw fa-tag"></span> {{ . }}</a>
      {{ end }}

      <h1 class="display-3">{{ .Title }}</h1>
      <p class="lead">{{ .Description }}</p>
    </div>
	</div>

  <!-- Content -->
  <div class="container">
    <div class="row align-items-start">
      <div class="col-1">
        <!-- Share post -->
        {{ partial "share.html" . }}
      </div>

      <div class="col-10">
        <!-- Post content -->
        {{ .Content }}

        <!-- Prev / next post -->
        {{ if or .PrevInSection .NextInSection }} 
        <div class="glitch-space-before">
          <div class="card-group">
            {{ if .PrevInSection }} 
            <div class="card">
              <div class="card-block">
                <h3 class="card-title"><a href="{{ .PrevInSection.Permalink }}"><span class="fa fa-arrow-circle-o-left"></span> {{ .PrevInSection.Title }}</a></h3>
                <p class="card-text">{{ .PrevInSection.Description }}</p>
              </div>
            </div>
            {{ end }}

            {{ if .NextInSection }} 
            <div class="card">
              <div class="card-block">
                <h3 class="card-title"><a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} <span class="fa fa-arrow-circle-o-right"></span></a></h3>
                <p class="card-text">{{ .NextInSection.Description }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}

        <!-- Disqs -->
        <div class="glitch-space-before" id="comments">
          <h5>Comment</h5>
          {{ partial "disqs.html" . }}
        </div>
      </div>

      <div class="col-1">
        <h3 class="text-sm-right"><a href="#comments"><i class="fa fa-comments-o"></i></a></h3>
      </div>
    </row>
  </div><!-- /.container -->

{{ partial "footer.html" . }}